*{
   margin : 0;
   padding : 0;
}
body{
  font-family:"ヒラギノ角ゴ Pro W3","メイリオ";
}
a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
header p{
  display:inline;
  font-size:12px;
}
header form input:first-child{
  width:160px;
  height:27px;
  border:1px solid #1b215c;
}
header table{
  margin:10px auto 0 auto;
}
header table td:nth-child(2) img{
  margin-top:30px;
}
#botton{
  text-align:center;
}

#search_botton{
  width:28px;
  height:28px;
  background:url(images/search_btn.jpg) left top no-repeat;
  margin:0 0 -9px -6px;
}
#topmenu{
  width:auto;   /*メニュー全体の幅*/
  height:40px;
  margin:10px auto 10px auto;
  border-bottom:2px solid #1b215c;
  background-image:url(images/gnavi_bg.png);
}
.list-nav{
  width:960px;
  margin:0 auto 0 auto;
  padding:0;
  list-style:none;
}
.list-nav li{
  width:180px;   /*1つの幅*/
  margin:0px;  /*メニューのスキマ*/
  line-height:40px;/*ボタンの高さ*/
  text-align:center;/*中央寄せ*/
  display:inline;
  list-style-type:none;
  float:left;
  background-repeat: no-repeat;
}
.list-nav li:first-child{
  background:url(images/navi.png);
  background-position:960px 40px;
}
.list-nav li:nth-child(2){
  background:url(images/navi.png);
  background-position:780px 40px;
}
.list-nav li:nth-child(3){
  width:240px;
  background:url(images/navi.png);
  background-position:600px 40px;
}
.list-nav li:nth-child(4){
  background:url(images/navi.png);
  background-position:360px 40px;
}
.list-nav li:nth-child(5){
  background:url(images/navi.png);
  background-position:180px 40px;
}
.list-nav li:hover:first-child{
  background-position:960px 0px;
}
.list-nav li:hover:nth-child(2){
  background-position:780px 0px;
}
.list-nav li:hover:nth-child(3){
  background-position:600px 0px;
}
.list-nav li:hover:nth-child(4){
  background-position:360px 0px;
}
.list-nav li:hover:nth-child(5){
  background-position:180px 0px;
}
.list-nav li a{
  display:block;
  margin:0;
  padding:0;
  text-align:center;/*中央寄せ*/
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.list-nav li a:hover{
  /* display:block;
  margin:0;
  padding:0;
  text-align:center;/*中央寄せ*/ */
  background-position:0 -40px;
}
.graphic {
	width: 650px;
	height: 300px;
  margin:0 auto 0 auto;
}
header,#contents,footer{
	width:940px;
	margin-left:auto;
	margin-right:auto;
}
#contents{
  overflow:hidden;
}
header table{
	border-collapse: collapse;
	table-layout: fixed;
  width: 100%;
}
#graphic2{
  background-color : #1b215c;
  padding:10px 0 0 0;
  width: 650px;
  height: 80px;
  margin:0 auto 0 auto;
}

#graphic2 ul li{
  background-repeat: no-repeat;
  background-position=:right bottom;
  display:inline-block;
  list-style-type:none;
  padding:3px;
}
#graphic2 ul li img{
border: 2px solid #fff;
}
#main{
  width:680px;
  float:left;
}
#sub{
  float:right;
}
.menu-title{
  color: #fff;
  background-color: #1b215c;
  height:30px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  padding-left:20px;
}
#graphic3 table{
  /* width:680px; */
	border: 2px solid #1b215c;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  margin-bottom:20px;
  /* table-layout:fixed; */
  border-spacing: 0;
}
.koumoku td{
  padding:10px 0 10px 0px;
  width:200px;
  font-size:14px;
}
.koumoku td:first-child{
  padding-left:40px;
}
.koumoku td:nth-child(3){
  width:240px;
}
.koumoku td a{
  text-decoration:none;
  color: #1b215c;
}
.koumoku td a img{
  padding-right:5px;
}
#pickup {
  width:650px;
  height:390px;
  text-align: center;
  border:2px solid #1b215c;
  margin:0 auto 20px auto;
}
#graphic4 table{
  width:240px;
	border: 2px solid #1b215c;
  margin-bottom:20px;
  padding-bottom:10px;
  border-spacing: 0;
}
#graphic4 table td{
  text-align: center;
  vertical-align: center;
}
.menu-title2{
  color: #fff;
  background-color: #1b215c;
  height:40px;
  font-size:18px;
}
#tab{
  width:680px;
}
#tab ul{
  font-size:0;
}
#tab ul li{
  display: table-cell;
}
#tab-body{
  border-width: 0px 0.5px 0.5px 0.5px;
  border-style: solid;
  border-color: #5a5a5a;
  margin-top: -2px;
  padding: 1em;
  position: relative;
  z-index: 0;
}
.ChangeElem_Panel td:first-child{
  width:125px;
}
.ChangeElem_Panel td:nth-child(2){
  width:105px;
}
.ChangeElem_Panel td:nth-child(3){
  color:#516194;
  font-size:15px;
}
.bg-slider {
	width: 700px;
	height: 300px;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer{
  background-image:url(images/footer_bg.jpg);
  width:auto;
  height:500px;
  background-size: 1600px 500px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top:20px;
}
footer table{
  margin:0px auto 0 auto;
  width:1000px;
  color:#fff;
  text-align: left;
  padding-top:80px;
  padding-left:30px;
  font-size:15px;
}
footer table tr td a{
  color:#fff;
}
footer table tr td {
  vertical-align: top;
  padding-left:20px;
}
footer table tr td li{
  list-style-type:circle;
}
footer p{
  color:#fff;
  text-align:center;
}
#footer-menu{
  width:auto;
  height:50px;
  background-color:#ebebf3;
  margin:80px auto 40px auto;
}
#footer-menu ul {
  width:945px;
  margin:0px auto 0 auto;
  font-size:0;
}
#footer-menu ul li{
  padding:0 10px 0 10px;
  margin:15px auto 0 auto;
  display:inline-block;
  border-width: 0px 0.5px 0px 0px;
  border-style: solid;
  border-color: #acabb0;
  /* border-color: #5a5a5a; */
  text-align: center;
  font-size:12px;
  color:#83c8d8;
}
#footer-menu ul li:first-child{
  border-width: 0px 0.5px 0px 0.5px;
  border-style: solid;
  border-color: #acabb0;
}
